body, div, span, applet, h1, h2, h3, p, a, img, strong, sub, sup, center, dl, dt, dd, ol, ul, li, table, tr, th, td { 
    margin:0px; 
    padding:0px; 
    border:0px; 
    outline:0px; 
}
body {
    font-family: 'Montserrat', sans-serif;
    margin:0;
    padding:0;
}
header {
    text-align: center;
    display: block;
    height: 100px;
    border-bottom: 1px solid #eee;
}
p, dl, dt, dd, ol, ul, li, table, tr, th, td {
    font-size: 14px;
    line-height: 170%;
}
h1, h2 {
    color:darkslategrey;
    line-height: 200%;
}
p {
    margin-bottom: 8px;
}
header nav, footer nav {
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;
}
header nav ul, footer nav ul {
    list-style: none;
}
header nav ul li, footer nav ul li {
    float: left;
    margin-right: 10px;
}
header nav ul li a, footer nav ul li a {
    background-color: #eee;
    text-decoration: none;
    padding: 10px 20px;
    line-height: 34px;
    border-radius: 34px;
}
section {
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;
}
article {
    overflow: hidden;
    width:300px;
}
.content {
    width:960px;
    margin:0 auto;
    display:block;
}
.mr30 {
    margin-right: 30px;
}
.mb30 {
    margin-bottom: 30px;
}
footer {
    text-align: center;
    border-top:1px solid #eee;
}